/* Don't change the existing CSS. */

#outer-box {
  background-color: purple;
}

.box {
  background-color: rgb(2, 63, 7);
  padding: 10px;
}

.inner-box {
  background-color: red;
}

p {
  color: rgb(238, 255, 2);
  margin: 0;
  padding: 0;
}

.white-text {
  color: white;
}

.black-text {
  color: black !important;
}