body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: center;
  color: midnightblue;
}

.beauty-image {
  width: 200px;
  margin-right: 10px;
  float: left;
}

.construction-image {
  width: 200px;
  margin-right: 10px;
  float: left;
}

.leftcard {
  display: inline-block;
  width: 45%;
  float: left;
  background-color: aquamarine;
}

.rightcard {
  display: inline-block;
  width: 45%;
  float: right;
  background-color: chocolate;
}

.creative {
  color: blue;
}

/* For mobile devices */
@media (max-width: 700px) {
  h1 {
    font-size: 50px;
    text-align: center;
  }
  .leftcard {
    display: block;
    width: 100%;
    text-align: justify;
    background-color: aquamarine;
  }

  .rightcard {
    display: block;
    width: 100%;
    text-align: justify;
    background-color: chocolate;
  }

  .beauty-image {
    width: 100%;
    margin-right: 50px;
    display: inline;
    object-fit: cover;
  }
  
  .construction-image {
    width: 100%;
    margin-right: 50px;
    display: inline;
    object-fit: cover;
  }

  p {
    font-size: 15px;
  }
}