/* TAG SELECTORS */
body {
    font-size: 50px;
}
img:hover {
    background-color: blueviolet;
}

/* CLASS SELECTORS */
.bacon {
    background-color: brown;
}
.brocolli {
    background-color: coral;
}
.circular {
    border-radius: 100%;
}

/* ID SELECTORS */
#MyHeading {
    color: rgb(130, 8, 167);
}