body {
    background-color: black;
}
h1 {
    text-transform: uppercase;
  }

.poster {
    color: white;
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    font-family: 'Sedgwick Ave Display', cursive;
    text-align: center;
}

.GOTphoto {
    border: 5px solid white;
    width: 100%;
}
